body {
  font-family: 'Lato', sans-serif;
}

.app {
  display: grid;
  height: 100vh;
  grid-template-columns: 240px 1fr 1fr 1fr;

  .left-screen {
    grid-column: 1/2;
    padding: 10px;
  }

  .right-screen {
    display: grid;
    grid-template-rows: 90vh 1fr;
    grid-column: 2/5;

    .message-form {
      grid-row: 2/3;
      margin-top: 10px;
    }

    .right-screen-inner {
      grid-row: 1/2;
      overflow-y: scroll;
      margin: 10px;
      padding: 10px;
      border-radius: 20px;
      background-color: #F7F7F7;
    }

    .channel-name{
      position: sticky;
      top: 0px;
      background-color: #F7F7F7;
    }

    .message {
      .created_at {
        margin-left: 0.1rem;
      }

      .content {

      }

      .author {

      }
    }
  }
}

.search-form-control {
  position: relative;
  padding: 10px;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 2 rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.channel-list {
  .active {
    background-color: #f7f7f7;
  }

  a {
    color: black;
    text-decoration: none;
  }
}
